<div class="body">
  <div class="container">
    <div class="row">
      <!-- カートページ -->
      <div>
        <h4>ショッピングカート</h4>
        <a class = "show-icon">
          <%= link_to "カートを空にする", cart_products_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </a>

        <table class = "table table-hober table-inverse">
          <thead>
            <tr>
              <th width = "300">商品名</th>
              <th width = "100">単価(税込)</th>
              <th width = "100">数量</th>
              <th width = "100">小計</th>
              <th width = "100"></th>
            </tr>
          </thead>
          <tbody>
<<<<<<< HEAD
            <tr>
              <td>イチゴケーキ</td>
              <td>1,100</td>
              <td>
                <%=puts @member%>

                <%= form_for(@cart_product,:url => {controller: "cart_products", :action => :create}) do |f| %>

                  <%= f.text_field :count %>

                <% end %>
              </td>
              <td>1,100</td>
              <td>
                <a class = "show-icon">
                  <%= link_to "削除する", cart_products_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </a>
              </td>
            </tr>
=======
            
            <% @cart_products.each do |cart_product| %>
              <tr>
                <td><%= attachment_image_tag cart_product.product, :product_image,format:'jpeg',size: "50x50" %><%= cart_product.product.name %></td>
                <td><%= cart_product.product.price %></td>
                <td>
                  <%= form_for(@cart_product) do |f| %>
                    <%= f.text_field :count %>
                    <a class = "show-icon">
                      <%= link_to "変更", cart_products_path %>
                    </a>
                  <% end %>
                </td>
                <td>1,100</td>
                <td>
                  <a class = "show-icon">
                    <%= link_to "削除する", cart_product_path(cart_product.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                  </a>
                </td>
              </tr>
            <% end %>

>>>>>>> a675a0a59748f3f2f869e4c3c44245fe62008fd6
          </tbody>
        </table>

        <div>
          <a class = "show-icon">
          <%= link_to "買い物を続ける", root_path %>
          </a>
        </div>
        <table class = "table table-hober table-inverse">
          <tr>
            <th>合計金額</th>
            <td>1,760</td>
          </tr>
        </table>
    <div>
          <a class = "show-icon">
            <%= link_to "情報入力に進む", input_path(current_member) %>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
