<table border="1">
    <% @admin_products.each do |admin_product|%>
        <tr>
            <td><%=admin_product.id%></td>  
        
            <td><%=admin_product.name%></td>
        
            <td><%=admin_product.price%></td>
        
            <td><%=admin_product.genre.name%></td>
        
            <td><%=admin_product.status%></td>
        </tr>
    <%end%>