<<<<<<< HEAD
<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        <h2 class="page-title">注文一覧画面</h2>
        <table class= "table table-bordered">
        	<thead>
        		<tr class="active">
        			<th>購入日時</th>
        			<th>購入者</th>
        			<th>注文個数</th>
        			<th>注文ステータス</th>
        		</tr>
        	</thead>
        	<tbody>
            <% @admin_orders.each do |admin_order| %>
                <tr>
                    <td>
                    	<!-- 購入日時（リンク先は注文履歴詳細） -->
                    	<%= link_to admin_order_path(admin_order.id) do %>
                    		<%= admin_order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                    	<% end %>
                    </td>
                    <td>
                    	<!-- 購入者フルネーム -->
                    	<%= admin_order.member.first_name %>
                    	<%= admin_order.member.last_name %>
                    </td>
                    	<!-- 注文商品の個数 -->
                    <td><%= admin_order.order_products.sum(:count) %></td>
                    <%=@total_count%>
                    	<!-- 注文ステータス -->
                    <td><%= admin_order.status %></td>
                </tr>
            <% end %>
        	</tbody>
        </table>
    </div>
</div>
=======
<h3>注文一覧画面</h3>
<table>
	<thead>
		<tr>
			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th>注文ステータス</th>
		</tr>
	</thead>
	<tbody>
    <% @admin_orders.each do |admin_order| %>
        <tr>
            <td>
            	<!-- 購入日時（リンク先は注文履歴詳細） -->
            	<%= link_to admin_order_path(admin_order.id) do %>
            		<%= admin_order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            	<% end %>
            </td>
            <td>
            	<!-- 購入者フルネーム -->
            	<%= admin_order.member.first_name %>
            	<%= admin_order.member.last_name %>
            </td>
            	<!-- 注文商品の個数 -->

            <!-- <td><%= admin_order.order_products.sum(:count) %></td> -->
            <td><%=@total_count%></td>
            	<!-- 注文ステータス -->
            <td><%= admin_order.status %></td>
        </tr>
    <% end %>
	</tbody>
</table>
>>>>>>> origin/master
