<div class = "container">
    <div class = "row">
      <div class ="col-xs-offset-1 col-xs-6">
        <h1>ジャンル一覧・追加画面</h1>
        <div class="genre-create">
            <%= form_for(@genre ,url: admin_genres_path) do |f| %>
                <%= f.label :name, "ジャンル" %>
                <%= f.text_field :name%>
                <%= f.radio_button :status, :"true",{value: :true} %>
                <%= f.label :status,"有効",class: "label label-primary" %>
                <%= f.radio_button :status, :"false",{value: :false} %>
                <%= f.label :status,"無効",class: "label label-danger" %>
                <%=f.submit "追加",class:"btn btn-info" %>
            <%end%>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class = "col-xs-offset-1 col-xs-6">
            <table class = "table table-bordered text-center genre-index">
                <thead>
                    <tr class="active">
                        <th class="text-center">ジャンル</th>
                        <th class="text-center">状態</th>
                        <th></th>
                    </tr>
                </thead>
                <% @genres.each do  |genre|%>
                <tbody>
                    <tr>
                        <td><%= genre.name %></td>
                        <% if genre.status == true%>
                            <td><span class="label label-primary">有効</span></td>
                        <%else%>
                            <td><span class="label label-danger">無効</span></td>
                        <%end%>
                        <td><%= link_to "編集する",edit_admin_genre_path(genre.id),class:"btn btn-info"%></td>
                    </tr>
                </tbody>
                <%end%>
            </table>
        </div>
    </div>

</div>
