<div class="body">
  <div class="container">
    <div class="row">
      <div>
        <h4>購入情報入力</h4>
        <%= form_for(@order, :url => {controller: "orders", action: :new}) do |f| %>
        <div>
          <h4>支払方法</h4>
          <%= f.radio_button :payment, :クレジットカード %>
          <%= f.label :クレジットカード %>
         <%= f.radio_button :payment, :銀行振込 %>
         <%= f.label :銀行振り込み%>
        </div>
        <div>
          <h4>お届け先</h4>
          <section>
            <label><%= radio_button_tag "address_select", "1" %>ご自身の住所</label>
            <div>
              〒 <%= current_member.postal_code %> <%= current_member.address %><br>
              <%= current_member.first_name %><%= current_member.last_name %>
            </div>
          </section>
          <section>
            <label><%= radio_button_tag "address_select", "2" %>登録済みの住所から選択</label>
            <div>
              <%= f.collection_select :member_id, @shipping_addresses, :id, :shippinng %>
            </div>
          </section>
          <section>
            <label><%= radio_button_tag "address_select", "3" %>新しいお届け先</label>
            <section>
              <label>&emsp;&emsp;<%= radio_button_tag "address_select", "1" %>ご自身の住所</label>
              <div>
                &emsp;&emsp;&emsp;&emsp;〒 <%= current_member.postal_code %> <%= current_member.address %><br>
                &emsp;&emsp;&emsp;&emsp;<%= current_member.first_name %><%= current_member.last_name %>
              </div>
            </section>
            <section>
              <label>&emsp;&emsp;<%= radio_button_tag "address_select", "2" %>登録済みの住所から選択</label>
              <div>
                &emsp;&emsp;&emsp;&emsp;<%= f.collection_select :member_id, @shipping_addresses, :id, :shippinng %>
              </div>
            </section>
            <section>
              <label>&emsp;&emsp;<%= radio_button_tag "address_select", "3" %>新しいお届け先</label>
              <section>
                <label>&emsp;&emsp;&emsp;&emsp;郵便番号</label>
                <%= f.text_field :postal_code %>
                <label>ハイフンなし</label>
              </section>
              <section>
                <label>&emsp;&emsp;&emsp;&emsp;住所&emsp;&emsp;</label>
                <%= f.text_field :address %>
              </section>
              <section>
                <label>&emsp;&emsp;&emsp;&emsp;宛名&emsp;&emsp;</label>
                <%= f.text_field :address_name %>
              </section>
            </section>
          </div>

          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <%= f.submit "確認画面へ進む",class: "btn btn-primary btn-lg center-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
