<div class="body">
  <div class="container">
    <div class="row">
      <!-- 注文情報確認ページ -->
      <div>
        <h4>注文情報確認</h4>

        <!-- 商品名table -->
        
        <table border = 1>
          <thead>
            <tr>
              <th>商品名</th>
              <th width = "100">単価(税込み)</th>
              <th width = "100">数量</th>
              <th width = "100">小計</th>
            </tr>
          </thead>
          <tbody>
          <% @cart_products.each do |cart_product|%>
            <tr>
              <td><%= cart_product.product.name%></td>
              <td><%= (cart_product.product.price * 1.1).floor%></td>
              <td> <%= cart_product.count%></td>
              <td><%= (cart_product.product.price * 1.1).floor * cart_product.count%></td>
            </tr>
          </tbody>
          <% end%>
        </table>
        

        <!-- 送料table --> 
       
        <table border = 1>
        
          <tr>
            <td>送料</td>
            <td>800</td>
          </tr>
          <tr>
            <td>商品合計</td>
           
            <td><%=(@price_sum * 1.1).floor %></td>
          </tr>
          <tr>
            <td>請求金額</td>
            <td><%= (@price_sum * 1.1).floor + 800 %></td>
          </tr>
        </table>
        

        <section>
          <h4>支払方法</h4>
          <%= @order.payment %>
        </section>
        <section>
          <h4>お届け先</h4>
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.address_name %>
        </section><!-- 未選択を省く必要あり -->
        <div>
          <%= form_for(@order) do |f| %>
            <%= f.hidden_field :postal_code, :value => @order.postal_code%>
            <%= f.hidden_field :address, :value => @order.address %>
            <%= f.hidden_field :address_name , :value => @order.address_name %>
            <%= f.hidden_field :postage , :value => 800 %>
            <%= f.hidden_field :payment , :value => @order.payment %>
          <%= f.submit "購入を確定する" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
