<div class="body">
  <div class="container">
    <div class="row">
      <!-- 注文情報確認ページ -->
      <div>
        <h4>注文情報確認</h4>

        <!-- 商品名table -->
        <table>
          <thead>
            <tr>
              <th width = "400">商品名</th>
              <th width = "100">単価(税込み)</th>
              <th width = "100">数量</th>
              <th width = "100">小計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <!-- 送料table -->
        <table>
          <tr>
            <td>送料</td>
            <td>800</td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td>1,760</td>
          </tr>
          <tr>
            <td>請求金額</td>
            <td>2,560</td>
          </tr>
        </table>

        <section>
          <h4>支払方法</h4>
          <%= @order.payment %>
        </section>
        <section>
          <h4>お届け先</h4>
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.address_name %>
        </section><!-- 未選択を省く必要あり -->
        <div>
          <%= form_for(@order) do |f| %>
          <%= f.submit "購入を確定する" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
