<!-- 配送先編集フォーム -->
<div class="row shipping-edit">
	<div class="col-xs-offset-1 col-xs-7">
		<div class="page-info"><h4>配送先編集</h4></div>
			<%= form_for(@shipping_address) do |f| %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th class="active">郵便番号</th>
					<td><%= f.text_field :postal_code, class: "col-xs-4" %></td>
				</tr>
				<tr>
					<th class="active">住所</th>
					<td><%= f.text_field :address, class: "col-xs-12" %></td>
				</tr>
				<tr>
					<th class="active">宛名</th>
					<td><%= f.text_field :address_name, class: "col-xs-6" %></td>
				</tr>
			</tbody>
		</table>
			<%= f.submit "編集する", class: "btn btn-primary pull-right" %>
			<% end %>
	</div>
</div>
<!-- ↓空欄エラー表示 -->
	<% if @shipping_address.errors.any? %>
		<h2><%= @shipping_address.errors.count %>errorです。</h2>
    	<ul>
      		<% @shipping_address.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
      		<% end %>
    	</ul>
	<% end %>