<div class = "container">
<div class = "row row-index">
  <div class="col-xs-offset-1 col-xs-7">
    <div class="page-info"><span class ="product-index">商品一覧画面 </span>
        <%=link_to new_admin_product_path do %> 
          <span class ="image"><%= image_tag "plus.jpeg",size: "40x40"%></span>
        <%end%>
      </div>
      <table class= "table table-bordered text-center">
        <thead>
          <tr bgcolor="#f5f5f5">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @admin_products.each do |admin_product|%>
          <tr>
            <td><%=admin_product.id%></td>

            <td>
              <%= link_to admin_product_path(admin_product.id) do %>
                <%=admin_product.name%>
              <% end %>
            </td>

            <td><%=admin_product.price%></td>

            <td><%=admin_product.genre.name%></td>

            <td><%=admin_product.status%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>
</div>