<div class = "">
<h1>商品　新規登録画面</h1>


<%= form_for(@admin_product ,url: admin_products_path) do |f| %>

    <%= f.attachment_field :product_image%>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name%></br>
    <%= f.label :text, "商品説明" %>
    <%= f.text_area :text %></br>

    <%= f.label :genre_id, "ジャンル" %>

    <%= f.collection_select :genre_id, @genres, :id, :name %>

    <%= f.label :price, "税抜き価格" %>
    <%= f.text_field :price%></br>
    <%= f.label :status, "販売ステータス" %>

    <%= f.select :status, Product.statuses.keys{}%></br>
    <%= f.submit "新規登録"%>
<%end%>
