<div class="body">
  <div class="container">
    <div class="row">
      <!-- ジャンル部分テンプレート -->
      <div class="col-xs-2 genre-box">
        <h3 class="genre-search-title text-center">ジャンル検索</h3>
        <div class="genre-link">
          <% @genres.each do |genre| %>
          <%= link_to genre.name,products_path(id: genre.id) %><br>
          <% end %>
        </div>
      </div>

      <!-- 商品一覧ページ -->
      <div class="col-xs-10">
<<<<<<< HEAD
        <h2>ケーキ (全<%= @products.count %>件)</h2>
        <div>
<<<<<<< HEAD
<<<<<<< HEAD
          <% @products.each do |product| %>
            <ul>
              <li>画像<%= link_to adimin_product_path(product.id) do %>
                  <%= attachment_image_tag product, :product_image, :fill, 100, 120, format: 'jpeg' %>
                <% end %>
=======
          <% @admin_products.each do |admin_product| %>
=======
          <% @products.each do |admin_product| %>
>>>>>>> fe23d3eeeff92a75ac3878e1f9fbf715c88c48b4
            <ul>
              <li>
                <div>
                  <%= link_to product_path(admin_product.id) do %>
                    <%= attachment_image_tag admin_product, :product_image,format:'jpeg',size: "90x90" %>
                <% end %>
                </div>
                <div><%= admin_product.name %></div>
                <div>￥<%= admin_product.price %></div>
>>>>>>> 6c8281cddfb65eea788462d40d91eb3be893974b
              </li>
              <li>商品名<%= product.name %></li>
              <li>価格<%= product.price %></li>
            </ul>
=======
        <h2><%= @genre.name %> (全<%= @products.count %>件)</h2>
        <div class="product-box">
          <% @products.each do |product| %>
            <div class="product-item clearfix">
              <div class="product-image">
                  <%= link_to product_path(product.id) do %>
                    <%= attachment_image_tag product, :product_image,format:'jpeg',size: "200x150" %>
                <% end %>
                </div>
              <div class="product-details">
                <p class="product-name">商品名：<%= product.name %></p>
                <p class="product-price">¥<%= product.price %></p>
                <span class="product-genre"><%= link_to product.genre.name,products_path(id: product.genre.id) %>
                </span>
              </div>
            </div>
>>>>>>> 0aeb92afd53a1d33ab328e48cb1c9d4bedbc46b9
          <% end %>
          <%= paginate @products, class: "paginate" %>
        </div>
      </div>
    </div>
  </div>
</div>
