<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="nav">
          <a class="sitelogo" href="/">
            <%= image_tag('logo.png') %>
          </a>
          <ul class="navber-right">
            <!-- 会員ログイン中 -->
            <% if member_signed_in? %>
            <li class="login-name">こんにちは<%= current_member.first_name %><%= current_member.last_name %>さん</li>
            <li><%= link_to "トップページ", root_path %></li>
            <li><%= link_to "アバウト", home_about_path %></li>
            <li><%= link_to "カート", cart_products_path %></li>
            <li><%= link_to "マイページ", member_path(current_member) %></li>
            <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete%></li>
            <!-- 管理者ログイン中 -->
            <% elsif admin_signed_in? %>
            <li class="login-name">こんにちは<%= current_admin.email %>さん</li>
            <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
            <li><%= link_to "会員一覧", admin_members_path %></li>
            <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
            <li><%= link_to "商品一覧", admin_products_path %></li>
            <li><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete%></li>
            <!-- ログアウト中 -->
            <% else %>
            <li><%= link_to "トップページ", root_path %></li>
            <li><%= link_to "アバウト", home_about_path %></li>
            <li><%= link_to "会員登録", new_member_registration_path %></li>
            <li><%= link_to "ログイン", member_session_path %></li>
            <% end %>
          </ul>
        </nav>
    </header>
    <%= yield %>
   <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
              <h4>Link</h4>
              <ul>
                <li>
                  <a href="">会社概要</a>
                </li>
                <li>
                  <a href="">プライバシーポリシー</a>
                </li>
              </ul>
          </div>
          <div class="inc col-xs-3">
            <p class="inc-name">NaganoCake Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
